@charset "UTF-8";
body {
  font-family: -apple-system, system-ui, "Helvetica Neue", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif; }

body {
  width: 100%;
  background-size: cover;
  background-color: #f1f1f1; }

h2 {
  font-size: 2em;
  font-weight: 700; }

h3 {
  font-size: 1.5em;
  font-weight: 700; }
h4 {
  font-size: 1.2em;
  font-weight: 600; }
  
.top{
  background-color: #fdfdfd;
}

header {
  padding-top: 14px;
  border-top: solid red 4px; }
  header .header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
  header .logo {
    width: 200px; }
  header li {
    display: inline;
    padding-left: 2em;
    font-weight: 600;}
  header a {
    color: black;
  }
  .label {
    font-size: 0.8em; 
    color: grey;
    margin-bottom: 10px;
  }
  .trigger{
    margin-top: 3px;
  }
  .trigger:hover{
    cursor: pointer;
  }
/*セレクターここから*/  
.slector hr {
  margin-top: 8px;
}
.select {
  margin-top: 0px;
  padding-top: 4px;
  display: none;
  background-color: #fdfdfd;
  z-index: 999;  /*重なり順。数字が大きいほど上になる*/
  width: 30%;  /*指定しないと、なぜか幅が50%になる*/
  position: absolute;
  }
  .select h6 {
    margin-left: 20px;
    margin-bottom: 20px;
    color: grey;
  }
  .select_close_btn {
    color: grey;
    margin-top: 10px;
    margin-right: 20px;
  }
  .select li {
    font-size: 1.2em;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .select li a{
    color: black;
  }
  .select li a:hover{
    color: #3988E4;  /*リンクの色設定*/
  }
  
  .select hr {
    margin-left: 30px;
    margin-right: 30px;
    color: lightgrey;
  }
  .box_close {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }
  .box {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }
  .hide {
    display: none;
  }
@media (max-width: 600px){
  .select {
    width: 84%;
  } }
/*セレクターここまで*/ 
/*spヘッダーメニューここから*/  
.slideToggle {  
  display: none;
  background-color: #fdfdfd;
  text-align: center; 
  z-index: 999;  /*重なり順。数字が大きいほど上になる*/
  width: 100%;  /*指定しないと、なぜか幅が50%になる*/
  height: 100%;
  position: fixed;
}   
.slideToggle a {  
  color: black;
}  
.slideToggle a:hover {  
  color: #3988E4;  /*リンクの色設定*/
} 
.slideToggle h4 {
  color: grey;
  margin-bottom: 3em;
}
.slideToggle h3 {
  margin-bottom: 1.2em;
}
.close {
  display: none;
}
.slideToggle hr {
  margin-left: 30px;
  margin-right: 30px;
  color: lightgrey;
}
/*spヘッダーメニューここまで*/ 
@media (min-width: 600px) {
  .menu_btn {
    display: none; } }
@media (max-width: 600px) {
  .menu_btn02 {
    display: none; } }
.list p {
  display: inline; }
.list h3 {
  border-bottom: solid 2px #d23228; }
  .list h3 img {
    width: 5%;
    margin-right: 22px; }
@media (max-width: 600px) {
  .list h3 img {
    width: 10%; } }
@media (min-width: 600px) {
  .table_sp {
    display: none; } }
@media (max-width: 600px) {
  .table_pc {
    display: none; } }
.teams .carp {
  border: solid 2px #d23228;
  border-radius: 10px;
  margin-top: 20px; }
  .teams .carp img {
    width: 15%;
    margin-right: 22px; }
.teams img {
  width: 40%;
  margin-right: 22px; }

.table_pc, .table_sp {
  background-color: #fdfdfd;
  border: solid 1px #f1f1f1;
  border-radius: 10px; }

img.crown_pc {
  width: 20px;
  vertical-align: bottom;
  margin-right: 0; }

img.crown_sp {
  width: 20px;
  vertical-align: bottom;
  margin-right: 10px; }

.barChart {
  border: solid #f1f1f1 2px;
  border-radius: 10px; }

#barChart_hr {
  max-width: 100%;
  height: 300px; }

#barChart_hr_sp {
  width: 300px;
  height: 300px; }

#raderChart_team_ave {
  width: 370px;
  height: 400px; }

.comparison {
  border: solid #f1f1f1 2px;
  border-radius: 10px; }

@media (max-width: 600px) {
  .header_menu_pc {
    display: none; } }
@media (min-width: 600px) {
  #barChart_hr_sp {
    display: none; }

  .header_menu_sp {
    display: none; } }
.fielder h3 {
  border: solid 2px #d23228;
  border-radius: 10px; }
  .fielder h3 img {
    width: 10%;
    margin-right: 22px; }
.fielder .stats_rader {
  max-width: 100%;
  background-color: rgba(253, 253, 253, 0.7);
  border: solid 2px #f1f1f1; }
  .fielder .stats_rader th, .fielder .stats_rader td {
    padding-top: 1%;
    padding-bottom: 1%; }
  .fielder .stats_rader .tr:hover {
    background-color: #f1f1f1;
    cursor: pointer; }

#rader {
  width: 400px;
  height: 460px; }

table.info {
  max-width: 100%; }

table.stats {
  max-width: 100%; }

@media (max-width: 600px) {
  table.info {
    display: none; }

  table.stats {
    display: none; } }
@media (min-width: 600px) {
  .stats_rader {
    display: none; } }
.team_name {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.title_carp img {
  max-width: 40px; }
.title_carp img, .title_carp h2 {
  display: inline; }

.batter_stats {
  border-bottom: 4px solid #d23228; }

.pitcher_stats {
  border-bottom: 4px solid #d23228; }

.buttons {
  display: -webkit-flex;
  display: flex;
  justify-content: center; }
  .buttons li {
    display: inline;
    padding-left: 2em; }

/*ヘッダーのリンクCSSここから*/
.pointer {
  position: relative;
  display: inline-block;
  text-decoration: none; }
  .pointer::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #d23228;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s; }
  .pointer:hover::after {
    transform: scale(1, 1); }

.pointer:hover {
  cursor: pointer; 
  color: #3988E4;  /*リンクの色設定*/;
}

.table_pc, .table_sp {
  border: solid 1px #f1f1f1;
  border-radius: 10px; }

.table_pc {
  margin-bottom: 10px; }

img.crown_pc {
  width: 20px;
  vertical-align: bottom;
  margin-right: 0; }

img.crown_sp {
  width: 20px;
  vertical-align: bottom;
  margin-right: 10px; }

.barChart {
  border-radius: 10px;
  background-color: #fdfdfd; }

#barChart_hr {
  max-width: 100%;
  height: 500px; }

#raderChart_team_ave {
  width: 370px;
  height: 400px; }

@media (max-width: 320px) {
  #raderChart_team_ave {
    width: 100%; } }
.raderChart {
  border-radius: 10px;
  background-color: #fdfdfd; }

.table_runking {
  background-color: #fdfdfd;
  border-radius: 10px;}

@media (max-width: 600px) {
  .header_menu_pc {
    display: none; }

  .table_runking {
    margin-top: 10px;
  } }
@media (min-width: 600px) {
  .header_menu_sp {
    display: none; } }
.buttons {
  display: -webkit-flex;
  display: flex;
  justify-content: center; }
  .buttons li {
    display: inline;
    padding-left: 2em; }

.pointer {
  position: relative;
  display: inline-block;
  text-decoration: none; }
  .pointer::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #d23228;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s; }
  .pointer:hover::after {
    transform: scale(1, 1); }

.pointer:hover {
  cursor: pointer; }
  
/*画面幅ごとのチャート調整*/  
.flex {
  display: flex;
}
.flex ul {
  margin-top: 70px;
}
.flex li {
    padding-bottom: 1.4em;
    text-align: right;
  } 
.flex div.name{
  flex: 25%;
}
.flex div.chart{
  flex: 70%;
}
@media (max-width: 990px){
  .flex li {
    padding-bottom: 1.5em;
  } }
@media (max-width: 600px){
  .flex li {
    padding-bottom: 2.4em;
  } 
  .flex ul {
    font-size: 0.8em;
  } }  

/*個人成績ページ*/  
#rader {
  width: 100%;
  height: 460px; 
}
@media (max-width: 768px){
  #rader {
    width: 100%;
    height: 290px; 
  }
}
@media (max-width: 768px){
  #rader {
    width: 100%;
    height: 290px; 
  }
}
@media (max-width: 425px){
  #rader {
    width: 100%;
    height: 330px; 
  }
}
@media (max-width: 375px){
  #rader {
    width: 100%;
    height: 310px; 
  }
}
@media (max-width: 320px){
  #rader {
    width: 100%;
    height: 230px; 
  }
}
.stats {
  border-radius: 10px;
  background-color: #fdfdfd;
}

/*# sourceMappingURL=teams.css.map */
