@charset "UTF-8";
body {
  font-family: -apple-system, system-ui, "Helvetica Neue", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif; }

body {
  background-color: #f1f1f1; }

h2 {
  font-size: 2em;
  font-weight: 700; }

h3 {
  font-size: 1.5em;
  font-weight: 700; }

h4 {
  font-size: 1.2em;
  font-weight: 700; }

section.top {
  background-color: #fdfdfd; }

header {
  padding-top: 14px;
  border-top: solid red 4px; }
  header .header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
  header .logo {
    width: 200px; }
  header li {
    display: inline;
    padding-left: 2em;
    font-weight: 600; }

@media (min-width: 550px) {
  .menu_btn {
    display: none; } }
@media (max-width: 550px) {
  .menu_btn02 {
    display: none; } }
.teams .carp {
  border-bottom: solid 2px #d23228;
  margin-top: 6px; }
  .teams .carp img {
    width: 10%;
    margin-right: 22px; }
.teams img {
  width: 40%;
  margin-right: 22px; }

.table_pc, .table_sp {
  border: solid 1px #f1f1f1;
  border-radius: 10px; }

.table_pc {
  margin-bottom: 10px; }

img.crown_pc {
  width: 20px;
  vertical-align: bottom;
  margin-right: 0; }

img.crown_sp {
  width: 20px;
  vertical-align: bottom;
  margin-right: 10px; }

.barChart {
  border-radius: 10px;
  background-color: #fdfdfd; }

#barChart_hr {
  max-width: 100%;
  height: 300px; }

#barChart_hr_sp {
  width: 100%;
  height: 500px; }

#raderChart_team_ave {
  width: 370px;
  height: 400px; }

@media (max-width: 320px) {
  #raderChart_team_ave {
    width: 100%; } }
.raderChart {
  border-radius: 10px;
  background-color: #fdfdfd; }

.table_sp {
  background-color: #fdfdfd; }

@media (max-width: 550px) {
  #barChart_hr {
    display: none; }

  .header_menu_pc {
    display: none; }

  .table_pc {
    display: none; } }
@media (min-width: 550px) {
  #barChart_hr_sp {
    display: none; }

  .header_menu_sp {
    display: none; } }
.buttons {
  display: -webkit-flex;
  display: flex;
  justify-content: center; }
  .buttons li {
    display: inline;
    padding-left: 2em; }

footer {
  padding-top: 20px;
  background-color: #fdfdfd;
  border-bottom: solid red 4px; }
  footer ul {
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
    footer ul li {
      font-weight: 600;
      display: inline;
      padding-bottom: 20px; }
    footer ul li:after {
      content: '　|　'; }
    footer ul li:last-child:after {
      content: ''; }
  footer .copyright {
    text-align: center;
    font-size: 90%; }

@media (min-width: 550px) {
  .footer_sp {
    display: none; } }
@media (max-width: 550px) {
  .footer_pc {
    display: none; } }
.footer_sp {
  text-align: center;
  font-weight: 600; }
  .footer_sp p {
    font-size: 1.2em;
    padding-bottom: 1em; }
  .footer_sp div {
    font-size: 1.1em; }

.pointer {
  position: relative;
  display: inline-block;
  text-decoration: none; }
  .pointer::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #d23228;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s; }
  .pointer:hover::after {
    transform: scale(1, 1); }

.pointer:hover {
  cursor: pointer; }

/*# sourceMappingURL=teams.css.map */
