@charset "UTF-8";
body {
  font-family: -apple-system, system-ui, "Helvetica Neue", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif; }

body {
  width: 100%;
  background-size: cover;
  background-color: #f1f1f1; }

h2 {
  font-size: 2em;
  font-weight: 700; }

h3 {
  font-size: 1.5em;
  font-weight: 700; }

h4 {
  font-size: 1.2em;
  font-weight: 700; }

header {
  padding-top: 14px;
  border-top: solid red 4px; }
  header .header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
  header .logo {
    width: 200px; }
  header li {
    display: inline;
    padding-left: 2em; }

@media (min-width: 550px) {
  .menu_btn {
    display: none; } }
@media (max-width: 550px) {
  .menu_btn02 {
    display: none; } }
.top_img {
  background-image: url("../images/top_img.jpg");
  height: 380px;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
  .top_img .header {
    margin-top: 120px; }

.top_page .logo_top_div {
  display: -webkit-flex;
  display: flex;
  justify-content: center; }
  .top_page .logo_top_div .logo_top {
    width: 300px;
    height: 100%;
    margin-top: 20px; }
.top_page .intro {
  text-align: center; }
.top_page .title {
  text-align: center;
  margin: 60px auto 40px auto; }
.top_page .box {
  background-color: #fdfdfd;
  border-radius: 10px; }
  @media (min-width: 550px) {
    .top_page .box .box_contents {
      display: -webkit-flex;
      display: flex; }
      .top_page .box .box_contents div {
        flex: 1; } }
.top_page #barChart_c_hr {
  max-width: 100%;
  height: 300px; }
.top_page #barChart_c_hr_sp {
  width: 300px;
  height: 300px; }
.top_page #barChart_p_hr {
  max-width: 100%;
  height: 300px; }
.top_page #barChart_p_hr_sp {
  width: 300px;
  height: 300px; }
@media (max-width: 550px) {
  .top_page #barChart_c_hr {
    display: none; }
  .top_page #barChart_p_hr {
    display: none; } }
@media (min-width: 550px) {
  .top_page #barChart_c_hr_sp {
    display: none; }
  .top_page #barChart_p_hr_sp {
    display: none; } }

.data_rank {
  background-color: #fdfdfd;
  border-radius: 10px; }

footer {
  padding-top: 20px;
  background-color: #fdfdfd;
  border-bottom: solid red 4px; }
  footer ul {
    display: -webkit-flex;
    display: flex;
    justify-content: center; }
    footer ul li {
      font-weight: 600;
      display: inline;
      padding-bottom: 20px; }
    footer ul li:after {
      content: '　|　'; }
    footer ul li:last-child:after {
      content: ''; }
  footer .copyright {
    text-align: center;
    font-size: 90%; }

@media (min-width: 550px) {
  .footer_sp {
    display: none; } }
@media (max-width: 550px) {
  .footer_pc {
    display: none; } }
.footer_sp {
  text-align: center;
  font-weight: 600; }
  .footer_sp p {
    font-size: 1.2em;
    padding-bottom: 1em; }
  .footer_sp div {
    font-size: 1.1em; }

.pointer {
  position: relative;
  display: inline-block;
  text-decoration: none; }
  .pointer::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #d23228;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s; }
  .pointer:hover::after {
    transform: scale(1, 1); }

.pointer:hover {
  cursor: pointer; }
/*# sourceMappingURL=top.css.map */
